@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv02';
  }

  ::selection {
    background-color: rgb(14 165 233 / 0.2);
    color: rgb(14 165 233);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(203 213 225);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(148 163 184);
  }
  .dark ::-webkit-scrollbar-thumb {
    background: rgb(71 85 105);
  }
}